.snapshot__content{
    display: flex;
    justify-content: center;
}

.content__column-label,
.content__column-input{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-left: 20px;
}

.user-picture{
    width: 150px;
    height: 150px;
}

.user-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.input-text_display{
    padding: 0.5rem 1rem;
    outline: none;
    font-family: var(--font-main);
}

.p__serfi{
    padding: 0.5rem;
    font-size: 18px;
    font-family: var(--font-main);
    font-weight: 500;
    text-transform: capitalize;
}

.snapshot__user-collection__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.snapshot__user-collection__card {
    width: 250px;
    height: 200px;
    margin: 1rem;
}

.snapshot__user-collection__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}