*{
    margin: 0px 0px;
    padding: 0px 0px;
}
body{
    padding: 30px 30px;
    height: 100vh;
    background-color: lightgray;
}
header 
{
    margin: auto;
}
header img{
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
    font-weight: 500;
}
.notifie {
    padding: 15px 15px;
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}
.menu
{
    display: flex;
}
section{
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
section h2{
    padding-bottom: 5px;
    font-weight: 500;
}
.new{
    padding: 5px 5px;
    float: right;
    position: relative;
    left: -60px;
    background-color: orange;
    color: white;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.col2{
    padding-left: 500px;
}
.cta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(144, 2, 2);
    border: 0px;
    padding: 5px;
    color: white;
}
