:root{
   --font-main: sans-serif; 
  --color-black: rgb(0, 0, 0);
  --color-eminence: rgb(120, 63, 142);
  --color-seashell: rgb(254, 245, 239);
  --color-vistablue: rgb(118, 153, 212);
  --color-white: rgb(255, 255, 255);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.page__form{
  padding: 1rem 5rem;
  display: block;
  justify-content: center;
  align-items: center;
}

.head-text{
  font-family: var(--font-main);
  font-size: 24px;
  color: var(--color-eminence);
}
